h1{
	font-size: max(7.5vw, 5.625rem);
	margin: 0.05em;
}

h2
{
	font-size: max(4.8vw, 3.6rem);
	font-weight: normal;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 0;
}

.subh2{
	font-size: max(2vw, 1.5rem);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

h3
{
	font-size: max(3.5vw, 2.625rem);
	font-weight: normal;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.subh3{
	font-size: max(1.5vw, 1.125rem);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

p{
	font-size: max(2.5vw, 1.875rem);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.subp{
	font-size: max(1.5vw, 1.125rem);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.05rem;
	margin-bottom: 0.5rem;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

hr{
	border: 0;
	clear:both;
	display:block;
	width: 100%;                
	background-color:#FFFFFF;
	height: 1px;
}

main{
	animation: animationIn 3s;
}

body{
	text-align: center;
	color: white;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes animationIn{
	from{
		opacity: 0;
		transform: translateY(-50px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root{
	--link-color: #ffffd9;
}

a{
	background-color: transparent;
	text-decoration: none;
}

a:link, a:visited, a:active{
  color: var(--link-color);
}

a:hover {
  color: #ffff9f;
}